@mixin dots($count) {
	$text-shadow: ();

	@for $i from 0 through $count {
		$text-shadow: $text-shadow,
			 (-.5+(random()) * 3) + em (-.5+(random()) * 3) + em 7px hsla(random() * 360, 100%, 50%, .9);
	}

	text-shadow: $text-shadow;
}

nav.sidebar {
	display: flex;
	flex-direction: column;

	align-items: center;

	max-width: 24rem;
	width: 100%;

	padding: 2rem;

	background: linear-gradient(-45deg, black, var(--background2), rgb(172, 170, 170));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}

		50% {
			background-position: 100% 50%;
		}

		100% {
			background-position: 0% 50%;
		}
	}

	> span {
		margin-bottom: 4.5rem;
		font-size: 3rem;
		font-weight: 600;
		color: var(--yellow);

		p {
			display: inline;
			color: var(--white);
		}
	}

	.buttons-container {
		display: flex;
		flex-direction: column;

		width: 100%;
	}
}
